*{
    font-family: "Jost", serif;
    outline: 0;
}
.main{
    position: absolute;
    z-index: 1;
    color: white;
    transition: 0.5s;
}

.main:hover{
    background-color: white;
    color: black;
}
.sec-main{
    position: absolute;
    z-index: 1;
    background-color: white;
    color: black;
}
