*{
    outline: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* .btn1{
    background-color: white;
} */

.aa{
    border: 1px solid transparent;
    margin-top: 20px;
}