*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: 0;
}
.hh4{
background-color: #F6F6F7;
transition: 1s;
}
.hh4:hover{
    background-color: #E53E3E;
    color: white;
    cursor: pointer;
}
.btn1{
    transition: 1s;
}
.btn1:hover{
    opacity: 0.75;
}
.a1,.a2{
    background-color: #F6F6F7;
    transition: 1s;
    }
.a1:hover{
        background-color: #E53E3E;
        color: white;
        cursor: pointer;
    }
.a2:hover{
        background-color: #E53E3E;
        color: white;
        cursor: pointer;
    }   
.sec1-1{
    border: 1px solid transparent;
}    
.s1{
    height: 70%;
    width: 15%;
    border-radius: 10px;
    background-color: #F6F6F7;
    margin-top: 28px;
    transition: 1s;
}
.s1:hover{
    cursor: pointer;
    background-color: #E53E3E;
    color: white;
}

.s2{
    height: 100%;
    width: 32%;
    background-color: #FBFBFB;
}
.t1{
    transition: 1s;
}
.t1:hover .txt-1{
    color: #E53E3E;
}
.t1:hover{
    cursor: pointer;
}
.sec3-1{
    border: 1px solid transparent;
}  

.sec-4{
    background-image: url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.tt1{
    line-height: 60px;
}
.btn2{
    background-color: white;
    color: #E53E3E;
    border-radius: 5px;
    transition: 1s;
}
.btn2:hover{
    background-color: black;
    color: white;
}
.sec5-1,.sec5-2{
    height: 150px;
    width: 20%;
    border: 1px solid rgba(220, 220, 220, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec5-2{
    margin-top: -12%;
}
.sec5-1:hover,.sec5-2:hover{
    box-shadow: 1px 1px 7px 1px rgba(220, 220, 220, 0.47);
    cursor: pointer;
    
}
.btn4{
    background-color: white;
    color: #E53E3E;
    border-radius: 5px;
    height: 50px;
    width: 45%;
    z-index: 1;
}
.btn4:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}