*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: 0;
}
.hh4{
background-color: #F6F6F7;
transition: 1s;
}
.hh4:hover{
    background-color: #E53E3E;
    color: white;
    cursor: pointer;
}
.btn1{
    transition: 1s;
}
.btn1:hover{
    opacity: 0.75;
}
.a1,.a2{
    background-color: #F6F6F7;
    transition: 1s;
    }
.a1:hover{
        background-color: #E53E3E;
        color: white;
        cursor: pointer;
    }
.a2:hover{
        background-color: #E53E3E;
        color: white;
        cursor: pointer;
    }   
.sec1-1{
    border: 1px solid transparent;
}    
.s1{
    height: 70%;
    width: 15%;
    border-radius: 10px;
    background-color: #F6F6F7;
    margin-top: 28px;
    transition: 1s;
}
.s1:hover{
    cursor: pointer;
    background-color: #E53E3E;
    color: white;
}

.s2{
    height: 100%;
    width: 32%;
    background-color: #FBFBFB;
}
.t1{
    transition: 1s;
}
.t1:hover .txt-1{
    color: #E53E3E;
}
.t1:hover{
    cursor: pointer;
}
.sec3-1{
    border: 1px solid transparent;
}  